body {
    background-color: #F5F5F5;
    font-family: "arial",sans-serif;
}

.file{
	border:1px solid #ccc;
	padding: 2px;
	    color: #535353;
    font-family: arial;
    font-size: 12px;
	height:18px;
}

#container{
	margin: 0 auto;
    width: 980px;
}

#content{
	background: none repeat scroll 0 0 #FFFFFF;
    padding: 40px 65px;
	border: 1px solid #CCCCCC;
	box-shadow: 10px 10px 5px #888888;
}

.header_txt{
	color:#535353;
	font-size: 16px;
    font-weight: bold;
}

.inputTxt{
	border: 1px solid #CCCCCC;
    color: #535353;
    font-family: arial;
    font-size: 12px;
    padding: 2px;
    width: 250px;
	height:18px;
}

.formdivider{
	padding: 10px 10px 10px 0;
}

.labelTxt{
	color: #BBBBBB;
    float: left;
    font-size: 14px;
    width: 100px;
}

.submit{
	float:left;
	margin-left: 269px;
    margin-top: 10px;
}