body {
    background-color: #F5F5F5;
    font-family: "arial",sans-serif;
}

.file{
	border:1px solid #ccc;
	padding: 2px;
	color: #535353;
    font-family: arial;
    font-size: 12px;
	height:18px;
}

#container{
	margin: 0 auto;
    width: 980px;
}

#content-import{
	background: none repeat scroll 0 0 #FFFFFF;
    padding: 40px 65px;
	border: 1px solid #CCCCCC;
	box-shadow: 10px 10px 5px #888888;
}

.header_txt{
	color:#535353;
	font-size: 16px;
    font-weight: bold;
}

.inputTxt{
	border: 1px solid #CCCCCC;
    color: #535353;
    font-family: arial;
    font-size: 12px;
    padding: 2px;
    width: 250px;
	height:18px;
}

.formdivider{
	padding: 10px 10px 10px 0;
}

.labelTxt{
	color: #BBBBBB;
    float: left;
    font-size: 14px;
    width: 100px;
}

.submit{
	float:left;
	margin-left: 269px;
    margin-top: 10px;
}

#location-state-div{
    padding-top: 15px;
}

#wrapper{
	margin: 0 auto;
    width: 1070px;
}

.guage-div{
	width:254px;
	background: white url('../img/boc_bg_repeat.jpg') left center repeat;
	height:200px;
	float: left;
	margin-left:15px;
	border: 1px solid #565656;
}

.downstrategy{
	width:210px;
	background: white url('../img/boc_bg_repeat.jpg') left center repeat;
	height:200px;
	float: left;
	margin-left:15px;
	border: 1px solid #565656;
}

.guage_calculation{
	width:254px;
	background-color : #666666;
	height:50px;
}

.guage_description{
	width:256px;
	background-color : #a3a3a3;
	height:50px;
	float: left;
	margin-left:15px;
	margin-top: 2px;
}

.guage_description_down{
	width:212px;
	background-color : #a3a3a3;
	height:50px;
	float: left;
	margin-left:15px;
	margin-top: 2px;
}

.statistics-box{
	width:149px;
	border: 1px solid #565656;
	margin-left:15px;
	height:150px;
	float:left;
	background: white url('../img/boc_bg_repeat.jpg') left center repeat;
	margin-top: 20px;
}

#statistics-wrapper{
	float:left;
}
